@import url(https://fonts.googleapis.com/css?family=Space+Mono);

body {
    padding:0;
    margin:0;
    font-family: 'Space Mono', monospace;
    font-size: 100%;
    background:#ffffff;
    font-color: 000000;
}

#container {
    margin: 20px auto;
    max-width: 650px;
    background-image: url("images/plant.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 625px 50px;
    margin-bottom: 20px;


}

p {
    text-indent: 50px;
}


.bottom {
    text-align: center;
    color: gray;
    line-height: 3px;
}

.css-typing
{
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    width: 28em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
    margin-bottom: 2px;

}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}


